# =========================================
# Python / Backend
# =========================================
__pycache__/
*.pyc
.venv/

# =========================================
# Node.js / Frontend
# =========================================

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

# dotenv environment variable files
.env
.env*
!.env.example

# Build output
build/
dist/
out/

# Other cache
.cache/
.parcel-cache

# =========================================
# IDE / Editor Config
# =========================================
.vscode/
.idea/
.DS_Store