# Python / Backend
__pycache__/
*.pyc
.venv/

# Node
frontend/pharmaclear/node_modules/
frontend/pharmaclear/build/
.npm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

# dotenv environment variable files
.env
.env*
!.env.example

# Build output
build/
dist/
out/

# Other cache
.cache/
.parcel-cache

# IDE / Editor Config
.vscode/
.idea/
.DS_Store

# Project Cache
health_canada_cache.json
backend/health_canada_cache.json